
.juodas {
    background-color: black;
}

.baltas {
    display: inline-block;
    color: #aaa5a5;
    text-decoration: underline;
    font-weight: bold;
    padding: 50px;
    margin: 20px;  
}

.raudonas {
    background-color: red;
    
}
.mygtukas {
    background: #0000ff;
}

.mygtukas2 {
    background: green;
}